<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .index {
        border: 2px solid black;
        height: 8vh;
        width: 100%;
        border-radius: 20px;
    }

        .index a {
            display: inline;
            text-decoration: none;
            font-size: 25px;
            font-weight: bold;
            padding: 30px;
            color: black;
        }

    th {
        text-align: left;
    }

    th, td {
        font-size: 25px;
    }
</style>
<body>
    <div class="index">
        <b>
            <a href="/Home/Index">Index</a>
            <a href="/Home/education">Education</a>
            <a href="/Home/projects">Projects</a>
            <a href="/Home/reference">References</a>
            <a href="/Home/personal_skill">Personal Info</a>
        </b>
    </div>
    <div>
        <h1>Personal Information</h1>
        <table>
            <tr>
                <th>Name</th>
                <td>: Md. Tanvir Ahmed</td>
            </tr>
            <tr>
                <th>Father's name</th>
                <td>: Md. Mizanur Rahman</td>
            </tr>
            <tr>
                <th>Mother's name</th>
                <td>: Mst. Salma Akter</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>: 25yrs</td>
            </tr>
            <tr>
                <th>Institution</th>
                <td>: American International University- Bangladesh</td>
            </tr>
        </table>
    </div>
</body>
</html>