<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .index {
        border: 2px solid black;
        height: 8vh;
        width: 100%;
        border-radius: 20px;
    }

        .index a {
            display: inline;
            text-decoration: none;
            font-size: 25px;
            font-weight: bold;
            padding: 30px;
            color: black;
        }
</style>

<body>
    <div class="index">
        <b>
            <div class="index">
                <b>
                    <a href="/Home/Index">Index</a>
                    <a href="/Home/education">Education</a>
                    <a href="/Home/projects">Projects</a>
                    <a href="/Home/reference">References</a>
                    <a href="/Home/personal_skill">Personal Info</a>
                </b>
            </div>
        </b>
    </div>
    <div>
        <h1>Referneces</h1>
        <ul>
            <li>file:///C:/Users/Md.%20Tanvir%20Ahmed/Desktop/C%23%20practice/assignment/project.html</li>
            <li> 
                https://codeforces.com/problemset/problem/1914/A?fbclid=IwAR3jLu-lHDt0Vrlr0k46-NF4wdsWdFLGeQESTAk0sxNzM5Yf1Gy7UOKqIog
            </li>
            <li>Head First Java</li>
        </ul>
    </div>
</body>

</html>